<% @top_tracks.each do |track| %>
<div class="span3 track-card">
  <div class="track-image">
  <%= image_tag track.images[2] %>
</div>
<div class="track-name">
  <%= link_to track.name, track.sample %>
</div>
</div>
<% end %>