  <ul class="thumbnails">
<% @top_tracks.each do |track| %>
<div class="track-card">
<li class="span3">
  <div class="track-image">
    <%= image_tag track.images[2], data: {sample: "#{track.sample.to_s}", pic: "#{track.images[2].to_s}"} %>
  </div>
  <div class="overlay">
    <div class="play-overlay"></div>
  </div>
  <div class="track-name">
  <%= link_to track.name, track.sample %>
  </div>
</li>
</div>
<% end %>
</ul>

