
#track-player {
  
}

#track-artwork {
  
}

.artwork-60 {
  float: left;
  margin: 5px 10px;
  width: 60px;
  height: 60px;
}

#track-controls {
  
}

#controls-left {
  
}

#controls-middle {
  
}

#controls-right {
  
}

#play-button {
  width: 40px;
  height: 40px;
}